@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-instrument: "Instrument Sans", sans-serif;

    --color-white-bg: #E5E5E5;
    --color-white-container: #F2F2F2;
    --color-white-button: #E3E3E3;
    --color-offwhite-textfield: #E3E3E3;
    --color-black-text: #303030;

    --color-black-bg: #222222;
    --color-black-container: #171717;
    --color-black-button: #303030;
    --color-white-textfield: #FAF9F6;
    --color-white-text: #F2F2F2;
}